#content{
	opacity: 0;
	.translate(0;50px);
	.transition(~"opacity 600ms 600ms, transform 600ms 600ms");
	position: relative;
}
.pace-done #content, .no-js #content{
	opacity: 1;
	.translate(0;0);
}



/*Breadcrumbs								*/
/*------------------------------------------*/
#breadcrumbs{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: left;
}
	#breadcrumbs a{
		font-size: 0.76923076923077em;
		color: #fff;
	}
		#breadcrumbs a:hover{
			text-decoration: underline;
		}
	#breadcrumbs span{
		font-size: 0.76923076923077em;
	}










/*Page Title 								*/
/*------------------------------------------*/
.page-title{
	border-bottom: 2px solid @gray-lighter;
	margin-top: 0;
	margin-bottom: 0.97560975609756em;
	padding-bottom: 0.36585365853659em;
}




/*Post Title 								*/
/*------------------------------------------*/
.post_title {
	margin-bottom: 0.88235294117647em;
	margin-top: 0;
	border-top: 3px solid @gray-lighter;
	padding-top: 20px;
	width: 95%;
}
.single .post_title{
	width: 100%;
	border-top: none;
	padding-top: 0;
	border-bottom: 3px solid @gray-lighter;
	padding-bottom: 20px;
}
.post_title a{
	color:inherit;
	text-align: left;
}
.page-header{
	margin: 0;
	border: none;
}





/*Post										*/
/*------------------------------------------*/
.blog article, .search article, .archive article{
	margin-bottom: 180px;
	.ql_background;
}
.single article{
	margin-bottom: 2.30769230769231em;
	padding-bottom: 0;
	.ql_background;
}
.post_content_wrap{
	position: relative;
}
.post-content{
	position: relative;
	border-top: none;
	padding: 3.125rem;
}

.blog .entry{
	position: relative;
	text-align: justify;
	border-top: 3px solid @gray-light2;
	padding-top: 20px;
}


	
/*Image Post								*/
/*------------------------------------------*/
.post-image{
	overflow: hidden;
	position: relative;
}
	.post-image a{
		display:block;
		text-align: center;
	}
	.post-image img{
		width:100%;
		vertical-align: bottom;
		height: auto;
	}

.post-image:hover .post_date, .post-image:hover .post_title_wrap{
	opacity: 0;
	.transition( all 200ms linear);
}


/*Metadata 									*/
/*------------------------------------------*/
.metadata{
	margin: 1.25em 0 0 0;
	overflow:hidden;
	border-right: none;
	border-left: none;
	border-top: none;
	padding: 0;
}

.single .metadata{
	margin: 1.25em 0;
}

.metadata ul{
	margin:0;
	padding: 0;
}
.metadata ul li{
	list-style:none;
	.font-size(14);
	line-height: 1em;
	margin: 0 18px 20px 0;
	float: left;
	position: relative;
	color: darken(@gray-light2, 8%);
}

.metadata ul li strong{
	color: @text-color;
	font-style: normal;
}
.metadata ul li i{
	margin-right: 0.35714285714286em;
	.font-size(14);
	text-align: center;
	color: darken(@gray-light2, 8%);
}

.metadata ul li a{
	text-decoration: none;
	color: darken(@gray-light2, 8%);
}
.metadata ul li a:hover{
	text-decoration: underline;
}
.metadata ul li.meta_comments{
}
.metadata ul li.meta_tags a{
	margin-right: 10px;
}
.updated:not(.published) {
	display: none;
}
.metadata hr{
	margin: 0;
}


/*More Link									*/
/*------------------------------------------*/
.more-link{
	display: block;
	clear: both;
}



/*Pagination															*/
/*----------------------------------------------------------------------*/
.pagination_wrap{
	text-align: center;
}
.pagination{

}
.pagination .screen-reader-text{
	display: none;
}

.pagination a, .pagination span{
    background-color: @contrastColor;
    border: 2px solid @gray-lighter;
    color: @gray-light;
    float: left;
    line-height: 1.42857;
    margin-left: -2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    font-size: 14px;
}
.pagination .current{
	background-color: @gray-lighter;
	color: @heroColor;
	border-color: @gray-lighter;
}
.pagination a:hover{
	background-color: @gray-lighter;
	color: @heroColor;
	border-color: @gray-lighter;
	cursor: pointer;
}



.pagination li.active a{
	background-color: @heroColor;
	color: @contrastColor;
	border-color: @heroColor;
}
.pagination li.active a:hover{
	background-color: @contrastColor;
	color: @heroColor;
	border-color: @heroColor;
	cursor: pointer;
}

/* Blog Masonry								*/
/*------------------------------------------*/
.blog_masonry .post{
	width: 23%;
	margin: 1%;
	display: inline-block;
	vertical-align: top;
	.post-title{
		.font-size(20);
	}
	.entry-content{
		.font-size(14);
	}
	.metadata{
		.font-size(14);
	}
}


/*Contact Page								*/
/*------------------------------------------*/
#map-section #map{
	height: 400px;
	height: 24vw;
}

.contact-page-social h4{
	margin-top: 1.875rem;
}
.contact-page-social .nav_social{
	float: none;
	margin-top: 1.25em;
}
.contact-page-social .nav_social li{
	margin-left: 0;
	margin-right: 15px;
}
.contact-page-social .nav_social li a{
	.font-size(28);
	width: 1.8em;
	line-height: 1.8em;
	height: 1.8em;
}
.contact-page-social .nav_social li a::before{
	.font-size(28);
	width: 1em;
	height: 1em;
}


/* FAQs										*/
/*------------------------------------------*/
.question{
	.font-size(20);
	color: @gray-dark;
	margin-bottom: 0.75em;
	position: relative;
	padding-left: 2em;
	&::before{
		position: absolute;
		list-style: none;
		display: inline-block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    content: "";
	    font-size: 24px;
	    left: 0;
	    top: 50%;
	    .translate(0;-50%);
	    width: 24px;
	    height: 24px;
	    line-height: 24px;
	    color: #33a3e4;
	}
}
.answer{
	margin-bottom: 2.8125em;
	padding-bottom: 2.8125em;
	position: relative;
	margin-left: 2.5em;
	border-bottom: 2px solid @gray-lighter2;
}