/*
// Contact Form 7
// ------------------
*/
.wpcf7 p{
	margin-bottom: 25px;
}
.wpcf7 input[type="text"], .wpcf7 input[type="email"]{
	width: 50%;
}

.wpcf7 select{
	.font-size(14);
}

//Checkbox & Radios
.wpcf7 input[type="checkbox"], .wpcf7 input[type="radio"]{
	display: inline-block;
	width: auto;
	height: 20px;
	margin-right: 5px;
	margin-top: 0;
}
.wpcf7-list-item{
	display: block;
	margin-bottom: 5px;
	line-height: 20px;
}

//Textarea
.wpcf7 textarea{
	width: 80%;
}

//Submit Button
.wpcf7 input[type="submit"]{
	width: auto;
	border-color: @gray;
	.transition(background-color 200ms);
	padding: 6px 15px;
}
.wpcf7 input[type="submit"]:hover{
	background-color: @gray;
	color: #fff;
}
.wpcf7 input[disabled="disabled"]{
	opacity: 0.3;
}
//Quiz
.wpcf7-quiz{
	margin-bottom: 0;
}

//Errors
.wpcf7-not-valid{
	border-color: red;
}



/*
// Jetpack Contact Form 
// ------------------
*/
//Submit Button
.contact-form input[type="submit"]{
	width: auto;
	border-color: @gray;
	.transition(background-color 200ms);
	padding: 6px 15px;
}
.contact-form input[type="submit"]:hover{
	background-color: @gray;
	color: #fff;
}
.contact-form input[disabled="disabled"]{
	opacity: 0.3;
}


/*
// Visual Composer
// ------------------
*/
.ult-ib-effect-style9 .ult-new-ib-desc{
	text-align: center!important;
}


.aio-icon-box.top-icon .align-icon, .aio-icon-box.top-icon .aio-icon-header, .aio-icon-box.top-icon .aio-icon-description{
	text-align: left!important;
}

.align_text2.ult-ib-resp.ult-ib-effect-style9 h2{
	padding-top: 15%;
}
.align_text1.ult-ib-resp.ult-ib-effect-style9 h2{
	padding-top: 22%;
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.align_text1.ult-ib-resp.ult-ib-effect-style9 h2{
		.font-size(16)!important;
		padding-top: 17%;
	}
}

.wpb_wrapper .products .product-category a{
	overflow: hidden;
	display: block;
}
.wpb_wrapper .products .product-category a img{
	.scale(1);
	.transition( transform 300ms );
}
.wpb_wrapper .products .product-category a:hover img{
	.scale(1.1);
	z-index: 1;
	position: relative;
}
.wpb_wrapper .products .product-category h3{
	background-color: @heroColor;
	text-align: center;
	color: @contrastColor;
	padding: 15px 20px!important;
	z-index: 3;
	position: relative;
	.transition( transform 300ms );
}
.wpb_wrapper .products .product-category a:hover h3{
	.scale(1.1);
}
.wpb_wrapper .products .product-category .count{
	display: none;
}



/*
// Revolution Slider
// ------------------
*/
.ql_slider_btn{
	border: 2px solid #000;
	padding: 15px 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.ql_slider_btn:hover{
	text-decoration: none;
}
.ql_slider_btn.black{
	color: #000!important;
}
.ql_slider_btn.white{
	color: #fff!important;
	border-color: #fff;
}

@media (max-width: @screen-xs-max) {
	.tp-caption{
		.font-size(18)!important;
	}
}




/*
// Easy MailChimp Forms
// ------------------
*/
.widget_yikes_mc_widget input[type="submit"]{
	display: inline-block;
	width: auto;
	background-color: transparent;
	border: 2px solid @gray-light;
	color: @gray-light;
}
.widget_yikes_mc_widget input[type="submit"]:hover{
	background-color: @gray-lighter;
	border: 2px solid @gray-lighter;
	color: @gray;
}
.widget_yikes_mc_widget input[type="text"]{
	border: none;
}
.widget_yikes_mc_widget .yks-mailchimpFormDivSubmit{
	margin: 0;
}
.widget_yikes_mc_widget p{
	padding-top: 0!important;
}
.widget_yikes_mc_widget .yks-status p{
	color: @gray-lighter;
	margin-bottom: 10px;
}


/*
// YITH WooCommerce Wishlist
// ------------------
*/
.wishlist-title h2{
	.font-size(26);
}
.woocommerce table.wishlist_table{
	font-size: 100%;
}
.yith-wcwl-add-to-wishlist{
	.font-size(12);
	color: @gray-light;
	margin-top: 20px;
}
a.add_to_wishlist{
	position: relative;
	color: @gray-light;
	padding: 10px 0 10px 30px;
	
	&::before{
		.font-size(18);
		display: block;
		text-decoration: none!important;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    content: "";
	    position: absolute;
	    width: 24px;
	    height: 24px;
	    text-align: center;
	    .translate(0;-12px);
	    top: 50%;
	    left: 0;
	    text-indent: 0;
	}
	&:hover::before{
		content: "";
	}
}


.products .product .yith-wcwl-add-to-wishlist{
	position: absolute;
	left: 20px;
	bottom: 8px;
	margin: 0;
	z-index: 3;
	.transition(~"opacity 200ms, transform 200ms");
	.translate(0px; 20px);
	opacity: 0;
	background-color: rgba(255,255,255,0.9);
	border-radius: @border-radius-small;
}
.products .product:hover .yith-wcwl-add-to-wishlist{
	.translate(0; 0);
	opacity: 1;
}
.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-add-button{
	height: 43px;
}
.products .product .yith-wcwl-add-to-wishlist .add_to_wishlist{
	overflow: hidden;
	text-indent: -9999px;
	display: inline-block;
	text-align: center;
	padding: 0;
	width: 45px;
	height: 43px;
	outline: none;
	text-align: center;
	
	&::before{
	    .translate(-12px;-12px);
	    left: 50%;
	}
}
.products .product .yith-wcwl-add-to-wishlist .ajax-loading{
	position: absolute;
	left: 50px;
	bottom: 15px;
	margin: 0;
}
.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse, .products .product .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse{
	overflow: hidden;
	text-indent: -9999px;
	display: inline-block;
	text-align: center;
	padding: 0;
	width: 45px;
	height: 43px;
	outline: none;
	text-align: center;
	cursor: default;
	&::before{
		.font-size(18);
		display: block;
		text-decoration: none!important;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    content: "";
	    position: absolute;
	    width: 24px;
	    height: 24px;
	    text-align: center;
	    .translate(-12px;-12px);
	    left: 50%;
	    top: 50%;
	    text-indent: 0;
	}
}
.product_thumbnail_wrap > .clear{
	display: none;
}
.yith-wcwl-add-to-wishlist{
	margin-bottom: 1.25rem;
}

#main table.wishlist_table{

		tbody > tr > td{
			vertical-align: middle;
		}

		.product-add-to-cart{
				.add_to_cart_wrap{
					position: relative;
					opacity: 1;
					right: 0;
					bottom: 0;

						.button{
							border: none;
							width: 45px;
							height: 45px;
							background-color: rgba(255,255,255,0.9);
							.transition(~"background 200ms, transform 200ms");
							.font-size(16);
							outline: none;
							text-align: center;
							border-radius: @border-radius-small;
							padding: 0;

								&:hover{
									background-color: @heroColor2;
									color: #fff;
								}
						}
				}
		}
}
