html{font-size: 1em;}


h1, h2, h3, h4, h5, h6{
	margin-top: 0;
}
img{
	max-width: 100%;
	height: auto;
}


.preloader { 
	background:@body-bg; 
	width: 100%;
	height: 100px;
  position: absolute;
  top: 320px;
  left: 0;
	display: block;
	z-index: 50;
	.transition( all 300ms ease-in-out);
	text-align: center;
	color: @gray-light2!important;
  &.proloader_hide{
    z-index: -1;
    opacity: 0;
  }
}
.preloader i { 
	font-size: 28px;
	position: absolute;
	left: 50%;
	top: 50%;
  width: 24px;
  height: 28px;
  .translate(-50%;-50%);
}


.ocin_loader{
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    .translate(-50%;-50%);
    position: fixed;
    display: block;
    z-index: 50;
    .transition( ~"opacity 200ms ease-in-out, transform 900ms 400ms");
    text-align: center;

        &.proloader_hide, .pace-done &{
            .scale(0);
            opacity: 0;
        }
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: @gray-light;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}





/* Background for sections
-------------------------------------------------- */
.ql_background{
  .box-shadow( 0 2px 4px 0 rgba(0,0,0,0.06));
  background-color: #fff;
}
.ql_background_hover{
  .transition(all 300ms);
  .ql_background;
  &:hover{
    .box-shadow( 0 3px 8px 1px rgba(0,0,0,0.1) );
  }
}
.ql_background_padding{
  .ql_background;
  padding: 3.125rem;
}

/* Custom button
-------------------------------------------------- */

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.btn-ql,
.btn-ql:hover,
.btn-ql:active {
  padding: 5px 10px;
	background-color: transparent;
	border: 2px solid transparent;
	color: @gray-light;
	border-radius: border-radius-base;
	font-size: 0.85714285714286em;
  	font-weight: bold;
  	.transition(~"translate 100ms ease-in-out, opacity 200ms ease-in-out");
  	.transition( all 200ms);
  	position: relative;
  	overflow: hidden;
  &:hover{
    border-color: @gray-light2;
  }
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. */
.btn-ql > i {
	font-size: 1.16666666666667em;
	position: absolute;
	top: -2em;
  left: 50%;
  margin-left: -8px;
	.animation(btn_in 300ms ease-in-out)
}
.btn-ql > span {
  .transition( all 100ms ease-in-out);
}


/*For special occacions */
.btn-ql > b.ql_sec_icon {
	font-size: 1.16666666666667em;
	font-weight: normal;
	position: absolute;
	left: 43%;
	top: 0.57142857142857em;
	.transition( all 200ms ease-in-out);
	.opacity(0);
}

.btn-ql.ql_show_sec > b.ql_sec_icon {
	.opacity(1);
}
.btn-ql.ql_show_sec > span, .btn-ql.ql_show_sec > i{
  .opacity(0);
}

/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. */
.btn-ql:hover > span {
  .opacity(0);
}
.btn-ql:hover > i {
	top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
	.animation(btn_out 300ms ease-in-out)
}

/*
Show the icon
*/
@-webkit-keyframes btn_out {
  0%   { top: -2em; }
  100% { top: 50%; }
}
@-moz-keyframes btn_out {
  0%   { top: -2em; }
  100% { top: 50%; }
}
@-o-keyframes btn_out {
  0%   { top: -2em; }
  100% { top: 50%; }
}
@keyframes btn_out {
  0%   { top: -2em; }
  100% { top: 50%; }
}

/*
Hide the icon
*/
@-webkit-keyframes btn_in {
  0%   { top: 50%; }
  100% { top: 4em; }
}
@-moz-keyframes btn_in {
  0%   { top: 50%; }
  100% { top: 4em; }
}
@-o-keyframes btn_in {
  0%   { top: 50%; }
  100% { top: 4em; }
}
@keyframes btn_in {
  0%   { top: 50%; }
  100% { top: 4em; }
}


.btn-ql:active {
	.translate(0; 1px );
	.box-shadow(none);
}



.transition-duration(@transition-duration) {
  -webkit-animation-duration: @transition-duration;
     -moz-animation-duration: @transition-duration;
       -o-animation-duration: @transition-duration;
          animation-duration: @transition-duration;
}




/*Hero Colors Classes													*/
/*----------------------------------------------------------------------*/
.hero_bck{
	background-color: @heroColor;
}

.hero_border{
	border-color: @heroColor;
}

.hero_color{
	color: @heroColor;
}

.hero_bck2{
	background-color: @heroColor2;
}

.hero_border2{
	border-color: @heroColor2;
}

.hero_color2{
	color: @heroColor2;
}
.contrast_bck{
	background-color: @contrastColor;
}



/* Make Space between sections											*/
/*----------------------------------------------------------------------*/
.clear_space{
	margin: 2.30769230769231em 0;
}


/* Read More Button
-------------------------------------------------- */
.read-more{
  text-transform: uppercase;
  margin-top: 10px;
  display: inline-block;
  padding: 5px 0;
  color: @heroColor;
  position: relative;
  i{
    margin-left: 10px;
    .font-size(14);
    position: relative;
    top: -1px;
    color: inherit;
  }

  &:hover{
    text-decoration: none;
  }
  &:after{
    position: absolute;
    left: 0;
    bottom: 0;
    .transition(all 250ms);
    content: " ";
    display: block;
    width: 0;
    height: 1px;
    background-color: @heroColor;
  }
  &:hover:after{
    width: 100%;
  }
}




/* Hover effect for thumbnails                      */
/*----------------------------------------------------------------------*/
.ql_thumbnail_hover{
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  &:before{
    content: " ";
    display: block;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    .transition( all 200ms );
    opacity: 0;
    border-radius: @border-radius-small;
  }
  &:hover:before{
    opacity: 1;
  }
  &:after{
    .transition(all 200ms);
    .transition-delay(100ms);
    .translate(-50%;-50%);
    opacity: 0;
    display: block;
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    content: "+";
    color: #fff;
    font: bold 14px/1 FontAwesome;
    .font-size(62);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:hover:after{
    top: 50%;
    opacity: 1;
  }
  img{
    .transition( transform 800ms );
  }
  &:hover img{
    .scale(1.1);
  }
}



/* Font size using REMs													*/
/*----------------------------------------------------------------------*/
.font-size(@size: 14){
	font-size: unit(@size, px);
	font-size: unit(@size / @font-size-base, rem); //Bootstrap variable
}




/*Social Share                */
/*------------------------------------------*/
.social-share{
  text-align: right;
  float: right;
  margin-top: 8px;
  width: 40%;
}
.social-share ul{
  margin: 0 !important;
}
.social-share li{
  margin: 0 5px 10px 5px;
}
.social-share a{
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #3b5998;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 26px;
  .font-size(14);
  .transition(background 200ms);
}
.social-share a.facebook{
  border-color: #3b5998;
  color: #3b5998;
}
.social-share a.facebook:hover{
  background-color: #3b5998;
  color: #fff;
}
.social-share a.twitter{
  border-color: #6cadde;
  color: #6cadde;
}
.social-share a.twitter:hover{
  background-color: #6cadde;
  color: #fff;
}
.social-share a.google{
  border-color: #de4a32;
  color: #de4a32;
}
.social-share a.google:hover{
  background-color: #de4a32;
  color: #fff;
}


.align-right{
  text-align: right;
}



/* Inputs																*/
/*----------------------------------------------------------------------*/
input, textarea{
	display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: 1em;
  color: @input-color;
  vertical-align: middle;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid @input-border;
  border-radius: @input-border-radius;
  margin-bottom: 0.71428571428571em;


  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  //
  // Placeholder text gets special styles because when browsers invalidate entire
  // lines if it doesn't understand a selector/
  .placeholder();

  // Disabled and read-only inputs
  // Note: HTML5 says that controls under a fieldset > legend:first-child won't
  // be disabled if the fieldset is disabled. Due to implementation difficulty,
  // we don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: @input-bg-disabled;
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}
textarea{
	min-height: 100px;
}


