.welcome-section{
	margin-bottom: 1.25rem;
}
.welcome-banner{
	position: relative;
	color: #fff;
	margin-bottom: 40px;
}
.welcome-banner .banner-image{
	position: relative;
	display: block;
	background-position: center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 72.20%;
	&::before{
		content: " ";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(5,116,99,0.8);
		.transition(background 300ms);
	}

}
.welcome-banner.banner-top:hover .banner-image::before, .welcome-banner.banner-bottom:hover .banner-image::before{
	background-color: rgba(0,0,0,0.4);
}
.welcome-banner .banner-content{
	position: absolute;
	top: 25px;
	left: 25px;
	bottom: 25px;
	right: 25px;
	display: block;
	overflow: hidden;
}
.welcome-banner .banner-content h4{
	margin-bottom: 0.38461538461538em;
	.font-size(26);
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	text-transform: uppercase;
	color: #fff;
}
.welcome-banner .banner-content p{
	opacity: 0.9;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.welcome-banner .woocommerce_btn{
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 12px 20px;
	z-index: 3;
	&:active{
		top: auto;
		position: absolute;
	}
}

.welcome-banner .banner-link{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}




/* Slider								*/
/*------------------------------------------*/
.theme-slider{
	position: relative;
}
.metaslider .flexslider{
	overflow: hidden;
}
.welcome-section .flex-control-nav, .welcome-section .theme-default .nivo-controlNav{
	text-align: left;
	bottom: 10px;
	left: 15px;
	z-index: 5;
	position: absolute;
}
.welcome-section .theme-default .nivo-controlNav{
	height: 15px;
	padding: 0;
	bottom: 15px;
}
.welcome-section .flex-control-paging li a, .welcome-section .theme-default .nivo-controlNav a{
	border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
	.box-shadow(none);
	background-color: rgba(0,0,0,0.3);
	background-image: none;
	border: 2px solid rgba(0,0,0,0);
}
.welcome-section .theme-default .nivo-controlNav a{
	display: inline-block;
}
.welcome-section .flex-control-paging li a.flex-active, .welcome-section .theme-default .nivo-controlNav a.active{
	background-color: transparent;
	border: 2px solid rgba(0,0,0,0.6);
}

.welcome-section .flex-direction-nav a, .welcome-section .rslides_nav{
	background: rgba(255,255,255,.4);
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    height: 45px;
    width: 45px;
    &:hover{
    	background: rgba(255,255,255,.7);
    	text-decoration: none;
    }
}
.welcome-section .rslides_nav{
	text-indent: -9999px;
}
.welcome-section .flex-direction-nav a::before, .welcome-section .rslides_nav::before{
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "";
    text-indent: 0;
    text-align: center;
    font-size: 22px;
    height: 45px;
    width: 45px;
    position: absolute;top: 0;
    left: 0;
    display: block;
    color: rgba(0,0,0,0.5);
    text-decoration: none !important;
}
.welcome-section .flex-direction-nav .flex-next::before, .welcome-section .rslides_nav.next::before{
	content: "";
}

//Captions
.welcome-section .metaslider .caption-wrap, .welcome-section .nivo-caption, .ocin_fullscreen_slider .metaslider .caption-wrap, .ocin_fullscreen_slider .nivo-caption{
	left: auto;
	right: 30px;
	bottom: 30px;
	width: auto;
	display: inline-block;
	background: rgba(0,0,0,0.2);
	opacity: 1;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	text-decoration: none;
}
.welcome-section .metaslider .caption-wrap .caption, .welcome-section .nivo-caption, .ocin_fullscreen_slider .metaslider .caption-wrap .caption, .ocin_fullscreen_slider .nivo-caption{
	.font-size(24);
	padding: 20px;
}
