@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	
	.container{
		width: 96%;
	}
	/*
	Header
	========================================== 
	*/
	.slider-fullscreen #header{
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: #fff;
		margin-bottom: 0;
	}

	.logo_container{
		margin-bottom: 20px;
	}
	.menu-center .logo_container{
		text-align: center;
	}
	#jqueryslidemenu{
		margin-bottom: 20px;
	}
	.menu-center #jqueryslidemenu{
		text-align: left;
	}
	.login_cart_wrap{
		margin-top: 0;
		margin-bottom: 30px;
		text-align: center;
	}

	#ql_woo_cart{
		width: 660px;
	}
	#ql_woo_cart ul.cart_list li .product_text h3{
		display: block;
		width: 100%;
	}
	#ql_woo_cart ul.cart_list li .product_text .price{
		width: 100%;
		display: block;
	}


	/*
	Content
	========================================== 
	*/
	.metadata ul li{
		float: left;
	}

	/* Blog Masonry								*/
	/*------------------------------------------*/
	.blog_masonry .post{
		width: 47%;
	}
	
	/*
	Home
	========================================== 
	*/
	.welcome-banner{
		width: 46.2%;
		display: inline-block;
		vertical-align: top;
	}
	.welcome-banner:nth-child(1){
		margin-right: 7%;
	}

	/*
	Sidebar
	========================================== 
	*/
	#sidebar{
		padding-right: 0;
		margin-top: 30px;
	}
	#sidebar .widget{
		padding: 0 20px;
	}
	#main > #sidebar .widget{
		width: 48%;
		display: inline-block;
		vertical-align: top;
	}
	
	/*Contact Page								*/
	/*------------------------------------------*/
	#map-section #map{
		height: 300px;
		height: 30vw;
	}


	
	/*Comments Form---------------------------------------------------*/
	#respond .input-wrap{
		width:46%;
	}


	/*
	WooCommerce
	========================================== 
	*/
	//Search
	.ql_woocommerce_categories .ql_product_search{
		display: block;
	}
	.ql_woocommerce_categories .ql_product_search .woocommerce-product-search{
		width: 100%;
	}
	.ql_woocommerce_categories .ql_product_search .woocommerce-product-search #woocommerce-product-search-field{
		width: 92%;
		border-bottom: none;
	}
	.ql_main_images_btn{display: none;}
	
	/*Order Details
	=====================================================*/
	.woocommerce table.order_details{
		width: 100%;
	}


	/*Related Products
	---------------------*/
	.woocommerce #main .products.related .product, .woocommerce-page .products.related .product{
		width: 31.6%!important;
	}

	#ql_search_header .woocommerce-product-search .search-field{
		width: 70%;
	}
	#ql_search_header .woocommerce-product-search input[type='submit']{
		width: 25%;
	}
	.thumbnails_view{
		margin-top: 15px;
		margin-right: 0;
	}

	/* Cart Page
	---------------------*/
	.woocommerce-cart #content form{
		width: 100%;
	}
	.woocommerce-cart .cart .cart_item{
		width: 47.7%;
	}
	.woocommerce-cart #content .cart-collaterals{
		width: 100%;
		margin: 0;
	}
}