@media (max-width: @screen-xs-max) {

	.ql_background_padding{
		padding: 1.875rem;
	}
	/*
	Header
	========================================== 
	*/
	.slider-fullscreen #header{
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: #fff;
		margin-bottom: 0;
	}
	.logo_container{
		margin-bottom: 20px;
		position: relative;
		display: block;
		float: none;
		margin-right: 0;
	}
	.logo_container .ql_logo{
		margin: 0 25px;
	}
	#ql-navigation{
		padding: 0;
	}
	#jqueryslidemenu{
		margin-bottom: 20px;
		margin-top: 0;
		float: none;
	}
	.menu-center #jqueryslidemenu{
		text-align: left;
	}
	#jqueryslidemenu ul.nav > li{
		display: block;

	}
	#ql_nav_collapse{
		padding: 0;
	}
	.dropdown.open .dropdown-menu{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}







	/*1st sub level menu*/
	#ql-navigation .navbar-nav{
		margin: 0;
	}
	#jqueryslidemenu ul.nav > li > ul{
		position: relative;
		top: 0;
		padding: 0;
	}
	.dropdown:hover .dropdown-menu {
	    display: none;
	 }
	 .dropdown.open:hover .dropdown-menu {
	    display: block;
	 }
	#jqueryslidemenu ul.nav > li > ul > li.menu-item-has-children{
		display: block;
		width: 100%;
		padding: 5px 20px;
	}

	#jqueryslidemenu ul.nav > li > ul > li.has-image{
		display: none;
	}



	.login_cart_wrap{
		margin-top: 0;
		margin-bottom: 30px;
		text-align: center;
	}


	/*
	Content
	--------------------------------
	*/
	.post-content{
		padding: 1.875rem;
	}
	.metadata{
		display: block;
	}
	.metadata ul li{
		float: left;
	}

	.meta_blocks {
		display: none;
	}


	/*
	Sidebar
	========================================== 
	*/
	#sidebar{
		padding-right: 0;
		margin-top: 30px;
	}

	
	/* Blog Masonry								*/
	/*------------------------------------------*/
	.blog_masonry .post{
		width: 90%;
		margin: 5%;
	}


	/*Contact Page								*/
	/*------------------------------------------*/
	#map-section #map{
		height: 300px;
		height: 65vw;
	}


	/*Comments Form---------------------------------------------------*/
	#respond .input-wrap{
		width:100%;
	}



	/*
	WooCommerce
	========================================== 
	*/
	.ql_woocommerce_categories ul li{
		width: 50%;
	}
	//Search
	.ql_woocommerce_categories .ql_product_search{
		display: block;
		width: 100%;
	}
	.ql_woocommerce_categories .ql_product_search .woocommerce-product-search{
		width: 100%;
	}
	.ql_woocommerce_categories .ql_product_search .woocommerce-product-search #woocommerce-product-search-field-0{
		width: 82%;
		border-bottom: none;
	}

	#ql_woo_cart{
		display: none;
	}
	.ql_cart-btn{
		background-color: transparent;
		.box-shadow(none);
	}
	.ql_main_images_btn{display: none;}

	.woocommerce #main #content div.product div.thumbnails a{
		width: 20%;
	}
	.woocommerce #main .ql_main_image_column_wrap{
		padding-left: 0;
	}

	.thumbnails_view, #main .woocommerce-result-count, .woocommerce-breadcrumb{
		margin-top: 15px;
		margin-right: 0;
		float: none;
		width: 100%;
	}

	.woocommerce .woocommerce-breadcrumb{
		margin-right: 0;
	}


	.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity, .woocommerce-page .quantity{
		margin-bottom: 15px;
	}
	.woocommerce #main .single_add_to_cart_button{
		display: inline-block;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs{
		padding-left: 0;
			li {
				.translate(0;0) !important;
				margin-bottom: 5px;
				margin-top: 5px;
				display: block !important;
					a{
						.font-size(13);
						padding: 20px 0;
					}
		}
	}

	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li{
		width: 100%!important;
		margin-bottom: 40px;
	}
	

	.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity, .woocommerce-page .quantity{
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.woocommerce table.cart td.actions #coupon_code{
		width: 100% !important;
		margin-bottom: 5px;
	}
	.woocommerce table.cart td.actions .button{
		width: 100% !important;
	}

	.woocommerce .products .product .add_to_cart_wrap, .woocommerce .products .product .product_type_external{
		opacity: 1;
	}
	.woocommerce .products .product .add_to_cart_button, .woocommerce .products .product .product_type_external{
		.translate(0; 0);
	}
	.products .product .yith-wcwl-add-to-wishlist{
		.translate(0; 0);
		opacity: 1;
	}

		/*Related Products
	---------------------*/
	.woocommerce #main .products.related .product, .woocommerce-page .products.related .product,
	.woocommerce #main .products.upsells .product, .woocommerce-page .products.upsells .product{
		width: 46.5%!important;
		margin-right: 2.8% !important;
	}

	.woocommerce #main .products.related .product .price, .woocommerce #main .products.related .product h3,
	.woocommerce #main .products.upsells .product .price, .woocommerce #main .products.upsells .product h3{
		display: block;
		width: 100%;
	}

	/*Order Details
	=====================================================*/
	.woocommerce table.order_details{
		width: 100%;
	}
	
	#ql_search_header .woocommerce-product-search {
		width: 90%;
	}
	#ql_search_header .woocommerce-product-search .search-field{
		width: 65%;
	}
	#ql_search_header .woocommerce-product-search input[type='submit']{
		width: 30%;
	}

	#ql_load_more{
		width: 100%;
	}

	/* Cart Page
	---------------------*/
	.woocommerce-cart #content form{
		width: 100%;
	}
	.woocommerce-cart .cart{
		padding: 10px;
	}
	.woocommerce-cart .cart .cart_item{
		width: 97%;
		display: block;
	}

	.woocommerce-cart .actions .coupon{
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
	.woocommerce-cart .actions .coupon #coupon_code{
		width: 100%;
		margin-bottom: 5px;
		display: block;
	}
	.woocommerce-cart .actions > .button{
		float: none;
	}
	.woocommerce-cart #content .cart-collaterals{
		width: 100%;
		margin: 0;
	}

	/*
	Login Page
	========================================== 
	*/
	.woocommerce-account .woocommerce .login{
		width: 100%;
		padding: 1.5em;
	}


	/* My Account Navigation
	**********************************/
	.woocommerce .woocommerce-MyAccount-navigation{
		width: 100%;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.woocommerce .woocommerce-MyAccount-content{
			.woocommerce-Address{
				margin-bottom: 20px;
			}

			.woocommerce-EditAccountForm{
				padding: 20px;
			}
	}


	/*
	Footer
	========================================== 
	*/
	.sub_footer p{
		margin-bottom: 20px;
		float: none;
		line-height: 1.6em;
	}
	.nav_social{
		float: none;
		margin-top: 20px;
	}



	.social-share{
		float: none;
		text-align: center;
		margin-top: 20px;
	}


}