/*Shop
=====================================================*/
.ql_woocommerce_info {
    margin-bottom: 30px;
    line-height: 30px;
}

.ql_woocommerce_info .col-md-4 {
    text-align: right;
}

/* WooCommerce Categories Shop
----------------*/
.ql_woocommerce_categories ul {
    list-style: none;
    padding-left: 0;
    font-size: 0;
}
.ql_woocommerce_categories ul li {
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
    .font-size(18);
    .transition(border 150ms);
}
.ql_woocommerce_categories ul li.current,
.ql_woocommerce_categories ul li:hover {
    border-bottom-color: @gray-dark;
}
.ql_woocommerce_categories ul li a {
    padding: 0.625rem 0.9375rem;
    display: block;
    color: @gray-light2;
    .transition(color 150ms);
}
.ql_woocommerce_categories ul li.current a {
    color: @gray-dark;
}
.ql_woocommerce_categories ul li a:hover {
    text-decoration: none;
    color: @gray-dark;
}

/* Sidebar Button
----------------*/
.sidebar_btn {
    margin-top: 0.625rem;
    margin-right: 15px;
    .font-size(18);
    color: @gray-light2;
    display: inline-block;
    outline: 0 !important;
    text-decoration: none !important;
    .transition(color 150ms);
    &:hover {
        color: @gray-dark;
    }
}
.sidebar_btn.open {
    color: @gray-dark;
}

.sidebar_btn i {
    .font-size(24);
    margin-right: 5px;
    position: relative;
    top: 3px;
}

#main .woocommerce-result-count {
    float: right;
    color: @gray-light2;
    font-weight: normal;
    .font-size(14);
    margin-right: 15px;
    margin-bottom: 10px !important;
}

// Ordering
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    margin-left: 0 !important;
    float: none;
    position: relative;
    margin-bottom: 0 !important;
}
.woocommerce .woocommerce-ordering > ul li {
    border: none !important;
}
.woocommerce .woocommerce-ordering > ul li > a {
    color: @gray-light;
    padding: 0.63636363636364em 0;
    display: block;
    font-weight: normal;
    .transition(all 200ms);
}
.woocommerce .woocommerce-ordering ul li a {
    position: relative;
    padding-left: 20px !important;
}
.woocommerce .woocommerce-ordering ul li a:hover {
    text-decoration: none;
}
.woocommerce .woocommerce-ordering ul li a::before {
    .font-size(14);
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    color: @gray-light2;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.woocommerce .woocommerce-ordering ul li a:hover::before {
    content: "";
}

.woocommerce .woocommerce-ordering ul li.active a {
    color: @gray-dark!important;
}
.woocommerce .woocommerce-ordering ul li.active a::before {
    content: "";
    color: @gray-dark!important;
}

.thumbnails_view {
    float: right;
    line-height: 35px;
    margin-right: 30px;
}
.thumbnails_view span {
    float: left;
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
    font-weight: normal;
    .font-size(14);
    color: @gray-light2;
}
.ql_regular_view {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}
.ql_regular_view i {
    background-color: @gray-lighter;
    width: 6px;
    height: 6px;
    display: block;
    float: left;
    margin: 2px;
}

.ql_big_view {
    width: 32px;
    height: 32px;
    float: left;
    margin-top: -1px;
}
.ql_big_view i {
    background-color: @gray-lighter;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin: 3px;
}

.ql_regular_view:hover i,
.ql_big_view:hover i,
.ql_regular_view.active i,
.ql_big_view.active i {
    background-color: @gray-light;
}
.ql_regular_view:active,
.ql_big_view:active,
.ql_regular_view:focus,
.ql_big_view:focus {
    outline: 0;
}
.ql_regular_view:active,
.ql_big_view:active {
    position: relative;
    top: 1px;
}

/*Product
----------------*/
.woocommerce .products {
    padding-left: 0;
}

.woocommerce #main .products .product,
.woocommerce-page .products .product {
    width: 24%;
    display: inline-block !important;
    position: relative;
    float: none !important;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
    margin: 0.4%;
    .transition(all 300ms);
    .ql_background_hover;
}

//Medium
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .woocommerce #main .products .product,
    .woocommerce-page .products .product {
        width: 24%;
        margin: 0.4%;
    }
    .woocommerce #main .products .product.ql_portrait a img,
    .woocommerce-page .products .product.ql_portrait a img {
        margin-bottom: 7px;
    }
}

//Small
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .woocommerce #main .products .product,
    .woocommerce-page .products .product {
        width: 48%;
        margin: 0.8%;
    }
    .woocommerce #main .products .product.ql_portrait a img,
    .woocommerce-page .products .product.ql_portrait a img {
        margin-bottom: 3px;
    }
}
//Extra Small
@media (max-width: @screen-xs-max) {
    .woocommerce #main .products .product,
    .woocommerce-page .products .product {
        width: 100%;
        margin: 1.5% 0 1.5% 0;
    }
}

.woocommerce .products .product:hover .product_wrap,
.woocommerce-page .products .product:hover .product_wrap {
    //.box-shadow(0 0 3px rgba(0,0,0,0.2));
}

.product_text {
    padding: 20px;
    .transition(border 300ms);
    background-color: #fff;
    line-height: 1.4375em;
}

/*Image
----------------*/
.woocommerce .products .product .product_thumbnail_wrap {
    position: relative;
    overflow: hidden;
    display: block;
}
.woocommerce ul.products li.product a,
.woocommerce-page ul.products li.product a {
    outline: 0;
}
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    .box-shadow(none);
    margin-bottom: 0;
    z-index: 1;
}
.woocommerce ul.products li.product:hover a img,
.woocommerce-page ul.products li.product:hover a img {
}

.woocommerce .products .product .product_desc,
.woocommerce-page .products .product .product_desc {
    padding: 1.42857142857143em;
}

.woocommerce .products .product .product_second_img {
    position: absolute;
    .transition(opacity 150ms);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
}
.woocommerce .products .product:hover .product_second_img {
    opacity: 1;
}
//Product Category
.product_category {
    text-transform: uppercase;
    color: lighten(@gray-light2, 10%);
    .font-size(11);
    font-weight: bold;
    margin-bottom: 5px;
}
//Product Title
.woocommerce #main ul.products li.product h3,
.woocommerce-page #main ul.products li.product h2,
.woocommerce #main ul.products li.product h3,
.woocommerce-page #main ul.products li.product h2 {
    .font-size(16);
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product h3 a,
.woocommerce-page ul.products li.product h3 a,
.woocommerce ul.products li.product h2,
.woocommerce ul.products li.product h2 a,
.woocommerce-page ul.products li.product h2 a {
    color: @gray-light2;
}

/*Sale
----------------*/
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
    border-radius: 2px;
    .box-shadow(none);
    margin: 0 !important;
    padding: 4px !important;
    right: 0.71428571428571em;
    top: 0.71428571428571em;
    line-height: 1em;
    min-height: 20px !important;
}

/*Rating
----------------*/
.woocommerce .products .product .product_thumbnail_wrap .rating_wrap {
    position: absolute;
    bottom: 10px;
    left: -100%;
    .transition(all 200ms);
    background-color: #fff;
    padding: 7px 7px 7px 10px;
    border-radius: 0 @border-radius-base @border-radius-base 0;
    z-index: 3;
    display: none;
}
.woocommerce .products .product .product_thumbnail_wrap:hover .rating_wrap {
    left: 0;
}

.woocommerce .products .product .product_thumbnail_wrap .star-rating {
    margin-bottom: 0;
}

/*Price
----------------*/
.woocommerce #main .products .product .price,
.woocommerce-page .products .product .price {
    .font-size(16);
    position: relative;
    color: @heroColor;
    margin-bottom: 0;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: right;
    word-wrap: break-word;
}
.woocommerce #main .products .product .price ins,
.woocommerce-page .products .product .price ins {
    text-decoration: none;
}
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
    .font-size(13);
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2px;
}

/*Add to cart
----------------*/
.add_to_cart_wrap {
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
    opacity: 0;
    .transition(opacity 200ms);
}
.ql_product_big .add_to_cart_wrap {
    display: none;
}

.woocommerce .products .product .add_to_cart_button,
.woocommerce .products .product .product_type_external {
    border: none;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    .transition(~"background 200ms, transform 200ms");
    .font-size(14);
    outline: none;
    text-align: center;
    border-radius: @border-radius-small;
    .translate(0px; 20px);
    padding: 0;
}
.woocommerce .products .product:hover .add_to_cart_wrap,
.woocommerce .products .product:hover .product_type_external {
    opacity: 1;
}
.woocommerce .products .product:hover .add_to_cart_button,
.woocommerce .products .product:hover .product_type_external {
    .translate(0; 0);
}

.woocommerce .products .product .add_to_cart_button:hover,
.woocommerce .products .product:hover .product_type_external:hover {
    background-color: @heroColor2;
    color: #fff;
}
.woocommerce .products .product .add_to_cart_button:active,
.woocommerce .products .product:hover .product_type_external:active {
    outline: none;
}
.woocommerce .products .product .add_to_cart_button i,
.woocommerce .products .product:hover .product_type_external i {
    .font-size(20);
    color: @gray-dark;
}
.woocommerce .products .product:hover .product_type_external i {
    .font-size(16);
}
.woocommerce .products .product .add_to_cart_button:hover i,
.woocommerce .products .product:hover .product_type_external:hover i {
    color: #fff;
}
.woocommerce .products .product .add_to_cart_button:active i,
.woocommerce .products .product:hover .product_type_external:active i {
    position: relative;
    top: 1px;
    left: -1px;
}
.woocommerce .products .product .add_to_cart_button.added i,
.woocommerce .products .product .add_to_cart_button.loading i {
    display: none;
}

/*Added to cart
----------------*/
.woocommerce a.added_to_cart {
    margin: 0 10px;
    .font-size(14);
    color: @heroColor2;
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: @border-radius-small;

    &:hover {
        background-color: @gray;
        border-color: @gray;
        color: #fff;
    }
    &:active {
        top: 1px;
        position: relative;
    }
}

/*Pagination
----------------*/
.woocommerce nav.woocommerce-pagination,
.woocommerce-page nav.woocommerce-pagination,
.woocommerce #content nav.woocommerce-pagination,
.woocommerce-page #content nav.woocommerce-pagination {
    padding: 15px;
    margin: 0 auto;
    width: 70%;
}
.woocommerce nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul,
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul {
    border-width: 2px 0 2px 2px;
    border-color: @gray-lighter;
}
.woocommerce nav.woocommerce-pagination ul li {
    border-width: 2px;
    border-color: @gray-lighter;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    background-color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: @gray-lighter;
    color: @gray;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    color: @gray-light;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li span {
    padding: 8px 12px !important;
}

/*Load More
----------------*/
#ql_load_more {
    display: block;
    width: 22%;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    .ql_background_hover;
}

/*Sidebar
=====================================================*/
#sidebar.woocommerce-sidebar {
    display: none;
}
#sidebar.woocommerce-sidebar .widget {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    opacity: 0;
    .translate(0; 30px);
}
#sidebar.woocommerce-sidebar.open .widget {
    .translate(0;0);
    opacity: 1;
}

/*Single Product
=====================================================*/

.single-product #content {
    margin-bottom: 40px;
}

/*Images
----------------*/
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    float: none;
    width: 100%;
}
//Main Images column
.woocommerce #main .ql_main_image_column_wrap {
    padding-left: 0;
    .ql_background;
}
.woocommerce #main .ql_main_image_column {
    position: relative;
    .perspective(500px);
    overflow: hidden;
    width: 100%;
}
.woocommerce #main .ql_main_image_column .owl-controls {
    display: none;
}
//Images
.woocommerce #main #content div.product div.thumbnails {
    padding-top: 0;
}
.woocommerce
    #main
    #content
    div.product
    div.thumbnails
    .woocommerce-product-gallery__image {
    width: 15%;
    float: none;
    display: inline-block;
    vertical-align: top;
    opacity: 0.6;
    margin-bottom: 10px;
    outline: 0;
    margin-right: 10px;
    .translate(0; 10px);
    .transition(150ms all ease);

    a {
        width: 100%;
        display: block;
        float: none;
    }

    &.current,
    &:hover {
        opacity: 1;
        .ql_background;
        .translate(0; 0);
    }
}

//Prev and Next buttons
.ql_main_images_btn {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    display: block;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 70px;
    opacity: 0.8;
    outline: 0 !important;
    text-decoration: none !important;
    .transition-property(transform);
    .transition-duration(400ms);
    .rotateY(180deg);
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.ql_main_images_btn:hover {
    opacity: 1;
}
.ql_main_images_btn:active {
    margin-top: -34px;
}

.ql_main_images_btn i {
    .font-size(40);
    color: @gray-dark;
    line-height: 70px;
}
.ql_main_images_btn.ql_prev {
    left: 0;
    .transform-origin(left center);
}
.ql_main_images_btn.ql_next {
    right: 0;
    .transform-origin(right center);
    .rotateY(-180deg);
}
.ql_main_image_column:hover .ql_main_images_btn {
    .rotateY(0);
}

.woocommerce.single-product span.onsale {
    right: 0;
    left: auto;
    z-index: 10;
}

//Summary
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 100%;
    float: none;
}
// Summary Top (Breadcrumbs and Stars)
.woocommerce .product .summary .summary-top {
    .ql_background;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

// Hide Breadcrumbs in single products pages
.single-product #content > .woocommerce-breadcrumb {
    display: none;
}
// Breadcrumbs
.woocommerce .woocommerce-breadcrumb {
    color: @gray-light2;
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 0;
    .font-size(12);
    display: block;
    float: left;
    width: 60%;
}
.single-product.woocommerce .woocommerce-breadcrumb {
    margin-left: 0;
}
.woocommerce .woocommerce-breadcrumb a {
    color: @gray-light2;
}

// Ratings
.woocommerce div.product .woocommerce-product-rating {
    color: @heroColor;
    display: block;
    float: right;
    width: 35%;
    margin-bottom: 0;
    text-align: right;
}
.woocommerce .product .star-rating {
    float: right;
    display: block;
    margin-top: 0;
    color: #f6a43d;
}
.woocommerce .star-rating::before {
    color: #f6a43d;
}
.woocommerce div.product .woocommerce-product-rating a {
    color: @gray-light2;
    .font-size(14);
}
.single-product.woocommerce div.product .woocommerce-product-rating a {
    display: none;
}
.woocommerce div.product .woocommerce-product-rating a:hover {
    color: @gray;
}

.single-product .product_category {
    .font-size(14);
}

.woocommerce .product .summary .entry {
    .ql_background;
    padding: 2.5rem;
    margin-bottom: 1.25rem;

    .sharedaddy {
        display: none;
    }
}

// Summary Bottom
.woocommerce .product .summary .summary-bottom {
    .ql_background;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}
.woocommerce
    .product
    .summary
    .summary-bottom
    .woocommerce-variation-add-to-cart
    .cart {
    margin-bottom: 0 !important;
}

//Product Title
.product_title {
    margin-bottom: 0.58823529411765em;
    .font-size(34);
}

.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img,
.woocommerce-page #content div.product div.images img,
.woocommerce-page div.product div.images img {
    .box-shadow(none);
}

//Single Price
.woocommerce #main .price {
    .font-size(24);
    font-weight: normal;
    color: @heroColor2;
}
.woocommerce #main .single_variation {
    margin-bottom: 0;
}
.woocommerce #main .single_variation_wrap .price {
    .font-size(32);
    font-weight: bold;
    margin-bottom: 0.41666666666667em !important;
    color: @heroColor2;
}
.woocommerce-page #content div.product p.price del {
    .font-size(15);
}

.woocommerce #main .entry .woocommerce-variation-add-to-cart {
    display: none;
}

.woocommerce #main .product .entry-summary p {
    margin-bottom: 20px;
}

.woocommerce #main .variations_button {
    .clearfix();
}
.woocommerce #content .variations_button {
    display: inline-block;
}
.woocommerce #content .entry .variations_button {
    display: none;
}
.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
    float: left;
}

//Single Add to cart button
.woocommerce #main .single_add_to_cart_button {
    .woocommerce_checkout_btn;
    padding: 14px 20px;
    border-radius: @border-radius-base;
}

.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
}
/*Product counter */
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
    height: 48px;
    border-color: @gray-lighter;
    margin-right: 10px;
    text-align: center;
    .font-size(18);
    margin-bottom: 0 !important;
}
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
    background-image: none;
    text-shadow: none;
    height: 16px;
}

.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input {
    width: auto;
    background-color: #fff;
    .transition(background 200ms);
}
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce-page #review_form #respond .form-submit input:hover {
    background-color: @gray;
    color: #fff;
}

.woocommerce span.onsale {
    line-height: 2.8em;
}

//Hide add to cart button from summary (it is in summary bottom)
.woocommerce #main .entry .quantity,
.woocommerce #main .entry .single_add_to_cart_button {
    display: none !important;
}

/*Variations
----------------*/
.woocommerce div.product form.cart {
    margin-bottom: 0;
}
.woocommerce #main .entry-summary .variations {
    display: none;
}
.woocommerce div.product form.cart .variations label {
    color: @gray;
    .font-size(16);
    margin-top: 4px;
}
.woocommerce .reset_variations {
    .font-size(12);
    color: @gray-light2;
}

.ql_custom_variations .ql_custom_variation h5 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}
.ql_custom_variations .ql_custom_variation ul {
    padding-left: 0;
    list-style: none;
}
.ql_custom_variations .ql_custom_variation ul li {
    display: inline-block;
    margin-right: 7px;
}
.ql_custom_variations .ql_custom_variation ul li a {
    display: inline-block;
    text-align: center;
    border: 2px solid @gray-lighter;
    padding: 10px 12px;
    .font-size(18);
    line-height: 18px;
    color: @gray-light;
    min-width: 46px;
}
.ql_custom_variations .ql_custom_variation ul li a:hover,
.ql_custom_variations .ql_custom_variation ul li a.current {
    text-decoration: none;
    border-color: @gray;
}

//Color Variation
.ql_custom_variations .ql_custom_variation .ql_color_variation li {
    margin-right: 20px;
}
.ql_custom_variations .ql_custom_variation .ql_color_variation li a {
    border: none;
    padding: 10px 8px;
    .font-size(16);
    border-radius: @border-radius-base;
    outline: 0 !important;
    .transition(background 200ms);
}
.ql_custom_variations .ql_custom_variation .ql_color_variation li a:hover {
    color: @gray;
}
.ql_custom_variations .ql_custom_variation .ql_color_variation li a i {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid transparent;
    opacity: 0.5;
    .transition(background 200ms);
}
.ql_custom_variations .ql_custom_variation .ql_color_variation li a:hover i {
    opacity: 1;
}
.ql_custom_variations .ql_custom_variation .ql_color_variation li a i.ql_white {
    border-color: @gray-light2;
}
.ql_custom_variations .ql_custom_variation .ql_color_variation li a.current {
    background-color: @gray-lighter2;
}
.ql_custom_variations .ql_custom_variation .ql_color_variation li a.current i {
    opacity: 1;
}

/*Tabs
----------------*/
.woocommerce div.product .woocommerce-tabs {
    margin-top: 1.875em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
    margin-bottom: 0 !important;
    text-align: center;
    overflow: visible;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    margin: 0 5px;
    .ql_background;
    .translate(0; -10px);
    .transition(150ms all ease);
    position: relative;
    z-index: 1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    background: transparent !important;
    color: @gray-light2;
    text-shadow: none !important;
    border: none !important;
    outline: 0 !important;
    text-transform: uppercase;
    padding: 20px 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    .translate(0;0);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: @gray;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before {
    border: none !important;
    box-shadow: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
    border: none !important;
    box-shadow: none !important;
}

//Panels
.woocommerce div.product .woocommerce-tabs .panel {
    border-bottom: 2px solid @gray-lighter;
    padding: 3.75em 15% 3.75em 15%;
    box-shadow: none !important;
    margin-bottom: 3.75em;
    position: relative;
    z-index: 2;
}

/* Reviews
---------------------*/
.woocommerce #review_form_wrapper {
    margin-top: 30px;
}
.woocommerce #review_form #respond .form-submit {
    margin-bottom: 0;
}
.woocommerce #review_form #respond {
    background-color: darken(#fff, 2%);
    padding: 30px;
}
.woocommerce #review_form #respond input {
    background-color: #fff;
}

.woocommerce .entry-summary .thumbnails a:hover {
    opacity: 0.8;
}

#review_form input[type="text"] {
    padding-left: 12px;
}
.woocommerce #content div.product #reviews .description img {
    float: none;
}

/*Related Products
---------------------*/
.related.products {
    margin-top: 60px;
}

.woocommerce #main .products > h2 {
    text-align: center;
    text-transform: uppercase;
    .font-size(22);
    margin-bottom: 1.36363636363636em;
}

.woocommerce #main .products.related .product,
.woocommerce-page .products.related .product {
    width: 24% !important;
}

/* Up-Sell products (You may also like...)
---------------------*/
.woocommerce #main .products.upsells .product,
.woocommerce-page .products.upsells .product {
    width: 18% !important;
}

/*Cart Page
=====================================================*/

.woocommerce .quantity .qty {
    width: 100px !important;
}
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 31% !important;
    margin-bottom: 20px;
}
.cart-collaterals .product_img .ql_up_span,
.cart-collaterals .product_img i,
.cart-collaterals .product_img .star-rating {
    display: none !important;
}

.woocommerce form .form-row select,
.woocommerce-page form .form-row select {
    height: 25px;
    font-size: 11px;
}

.woocommerce #content table.cart input,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input {
    width: auto;
    font-weight: normal;
}

.woocommerce-cart .products .product {
    width: 47% !important;
}

.woocommerce-cart a.remove {
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 0;
    top: 17px;
    outline: 0;
    font-size: 0;
}
.woocommerce-cart a.remove:hover {
    background-color: transparent;
}
.woocommerce-cart a.remove::before {
    .font-size(20);
    color: @gray-light2;
    font-family: "ecommerce";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e95a";
}
.woocommerce-cart a.remove:hover::before {
    color: red;
}

.woocommerce td.product-name dl.variation {
    .font-size(14);
}
/*Cupon Row
---------------------*/
.woocommerce-cart table.cart td.actions {
    padding: 20px;
}
/*Cupon Input
---------------------*/
.woocommerce-cart table.cart td.actions .coupon .input-text {
    border-width: 2px;
    width: 150px !important;
}
/*Cupon Button
---------------------*/
.woocommerce-cart table.cart td.actions .coupon .button {
    background-color: @gray-lighter;
    margin-left: 5px;
    font-weight: normal;
}
.woocommerce-cart table.cart td.actions .coupon .button:hover {
    background-color: darken(@gray-lighter, 5%);
}

/*Checkout Button
---------------------*/
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    .woocommerce_checkout_btn;
    .transition(all 200ms);
    width: auto;
    display: inline-block;
    padding: 11px 16px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
}

.shipping-calculator-button {
    display: inline-block;
    .font-size(13);
    width: 130px;
    text-align: center;
    padding: 6px 3px;
    line-height: 13px;
    border: 2px solid @gray-lighter;
    border-radius: @border-radius-base;
}
.shipping-calculator-button:hover {
    background-color: @gray-lighter;
    text-decoration: none;
}

.cart-collaterals h2 {
    .font-size(28);
}

/*Checkout Page
=====================================================*/
#customer_details {
    margin-bottom: 2.5em;
}
.woocommerce-checkout-review-order-table .order-total {
    background-color: @gray-lighter;
}
.woocommerce .checkout #shiptobilling label,
.woocommerce-page .checkout #shiptobilling label {
    font-size: 1em !important;
}
.woocommerce .checkout #shiptobilling label,
.woocommerce-page .checkout #shiptobilling label {
    padding-left: 0 !important;
}
.woocommerce form .form-row .input-checkbox,
.woocommerce-page form .form-row .input-checkbox {
    display: inline !important;
    height: 1em;
    width: auto;
}
.woocommerce .checkout .col-2 h3#ship-to-different-address,
.woocommerce-page .checkout .col-2 h3#ship-to-different-address {
    font-size: 16px;
}
.woocommerce .checkout .col-2 h3#ship-to-different-address label,
.woocommerce-page .checkout .col-2 h3#ship-to-different-address label {
    float: left;
}
.woocommerce .checkout .col-2 #ship-to-different-address-checkbox {
    height: 18px;
    float: left;
    width: auto;
    margin-top: 8px;
    margin-left: 10px;
}
.woocommerce table.shop_table td {
    padding: 10px 12px;
}
.woocommerce table.shop_table .cart-subtotal {
    background-color: @gray-lighter2;
}

/*Payments
---------------------*/
.woocommerce #payment,
.woocommerce-page #payment {
    background: transparent !important;
}

.woocommerce #payment ul.payment_methods,
.woocommerce-page #payment ul.payment_methods {
    border: 2px solid @gray-lighter;
}
.woocommerce #payment ul.payment_methods li,
.woocommerce-page #payment ul.payment_methods li {
    padding: 10px;
    margin-bottom: 10px !important;
    border: 1px solid @gray-lighter;
}
.woocommerce #payment ul.payment_methods li:last-child,
.woocommerce-page #payment ul.payment_methods li:last-child {
    margin-bottom: 0 !important;
}
.woocommerce #payment ul.payment_methods li input,
.woocommerce-page #payment ul.payment_methods li input {
    float: left;
    margin-top: 3px !important;
}
.woocommerce #payment ul.payment_methods li label,
.woocommerce-page #payment ul.payment_methods li label {
    font-size: 1em !important;
}

.woocommerce #payment ul.payment_methods li .input-radio,
.woocommerce-page #payment ul.payment_methods li .input-radio {
    width: auto !important;
    height: 1em;
    margin-top: 9px !important;
}
.woocommerce #payment ul.payment_methods li.payment_method_paypal .input-radio,
.woocommerce-page
    #payment
    ul.payment_methods
    li.payment_method_paypal
    .input-radio {
    margin-top: 16px !important;
}
.woocommerce-checkout #payment div.payment_box {
    background-color: @gray-lighter2;
}
.woocommerce-checkout #payment div.payment_box::before {
    border-color: transparent transparent @gray-lighter2;
}
.woocommerce-checkout #payment div.payment_box::after {
    border-color: transparent transparent @gray-lighter2;
    top: -2px;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    margin-left: 10px;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    width: auto !important;
}

.chzn-container .chzn-results {
    color: #3d3c3c;
}
.select2-container .select2-choice {
    border-width: 2px;
    border-color: @gray-lighter;
}
.select2-drop-active {
    border-width: 2px;
    border-color: @gray-lighter;
}

/*Place Order Button
---------------------*/
.woocommerce-checkout #payment div.form-row {
    padding-right: 0;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    .woocommerce_checkout_btn;
    .transition(all 200ms);
    width: auto;
    display: inline-block;
    padding: 11px 16px;
    height: auto;
}

/* =Tables
	-------------------------------------------------------------- */
.woocommerce table.shop_table {
    border-width: 2px;
    border-radius: 0;
}

.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th {
    width: 75%;
}
.woocommerce #content table.cart td,
.woocommerce #content table.cart th,
.woocommerce table.cart td,
.woocommerce table.cart th,
.woocommerce-page #content table.cart td,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart td,
.woocommerce-page table.cart th {
    border-bottom: none;
}

.woocommerce table.shop_table .product-price {
    color: @gray-light;
}

/*Cart Widget
=====================================================*/
.ql_woo_cart_button_wrap {
    position: relative;
}
#ql_woo_cart {
    position: absolute;
    top: 100%;
    right: 0;
    width: 1340px;
    background-color: @body-bg;
    z-index: -10;
    padding: 30px;
    .box-shadow(0 3px 10px rgba(0, 0, 0, 0.35));
    text-align: left;
    opacity: 0;
    .translate(0;20px);
    .transition(~"opacity 200ms, transform 200ms");
}
.ql_cart_wrap:hover #ql_woo_cart {
    z-index: 20;
    opacity: 1;
    .translate(0;0);
}

.woocommerce-cart #ql_woo_cart,
.woocommerce-checkout #ql_woo_cart {
    display: none;
}

.ql_woo_cart_button {
    .transition(all 500ms ease);
    background-color: transparent;
    border: none;
    .font-size(24);
    position: absolute;
    right: 20px;
    top: 5rem;
    top: 8.5vh;
    outline: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: @border-radius-base;
    text-align: center;
    display: none;
}
.ql_woo_cart_button:hover {
    color: @contrastColor;
    background-color: @heroColor;
}
.ql_header2 .ql_woo_cart_button {
    right: -20px;
}
.cart_show {
    display: block;
}
.ql_woo_cart_qty {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    background: #fff;
    border-radius: 17px;
    color: #7a7a7a;
}
#ql_woo_cart .widget_shopping_cart .widgettitle {
    font-size: 20px;
    color: @contrastColor;
    margin-top: 10px;
}
/* Close button */
.ql_woo_cart_close {
    position: absolute;
    left: -2.22222222222222em;
    top: 0;
    width: 2.22222222222222em;
    height: 2.22222222222222em;
    display: block;
    line-height: 2.22222222222222em;
    text-align: center;
    font-size: 18px;
    background-color: @heroColor;
    color: @contrastColor;
    .transition(all 200ms linear);
    outline: 0 !important;
}
.ql_woo_cart_close:hover {
    background-color: @contrastColor;
    color: @heroColor;
}

#ql_woo_cart .owl-stage-outer {
    padding: 6px;
}

#ql_woo_cart .widget_shopping_cart_calc {
    margin-bottom: 10px;
}

#ql_woo_cart .buttons {
    text-align: right;
    display: inline-block;
    width: 59%;
    vertical-align: top;
    margin-bottom: 0;
}
#ql_woo_cart .buttons a {
    margin-left: 10px;
}

//Carousel Buttons
#ql_woo_cart .ql_carousel_btns {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
#ql_woo_cart .ql_carousel_btns a {
    .font-size(26);
    text-decoration: none;
    margin: 0 5px;
    outline: 0;
    position: relative;
    color: @gray;
    &:hover {
        color: @gray-dark;
    }
    &:active {
        top: 1px;
    }
}

//Cart List
#ql_woo_cart ul.cart_list li {
    width: 96%;
    margin-bottom: 0;
    display: inline-block;
}
#ql_woo_cart ul.cart_list li.empty {
    padding-bottom: 0;
}
#ql_woo_cart ul.cart_list li a {
}
#ql_woo_cart ul.cart_list li a.remove {
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 0;
    top: 17px;
    outline: 0;
    font-size: 0;
}
#ql_woo_cart ul.cart_list li a.remove::before {
    .font-size(20);
    color: @gray-light2;
    font-family: "ecommerce";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e95a";
}
#ql_woo_cart ul.cart_list li a.remove:hover::before {
    color: red;
}
#ql_woo_cart ul.cart_list li .add_to_cart_wrap {
    display: none;
}
#ql_woo_cart ul.cart_list li .product_text {
    padding: 10px;
    line-height: 14px;
}

#ql_woo_cart ul.cart_list li .product_text h3 {
    .font-size(12);
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
#ql_woo_cart ul.cart_list li .product_text h3 a {
    color: @gray-light2!important;
}

#ql_woo_cart ul.cart_list li .product_text .price {
    .font-size(12);
    position: relative;
    color: @gray-light2;
    margin-bottom: 0;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: right;
}
#ql_woo_cart ul.cart_list li .product_text .amount {
    .font-size(12);
    color: @heroColor;
}

#ql_woo_cart ul.cart_list li a img {
}

#ql_woo_cart .widget_shopping_cart_content .total {
    text-align: right;
    color: @heroColor2;
    border-top: 2px solid @gray-lighter;
    margin-bottom: 30px;
    margin-top: 5px;
    padding-top: 10px;
    font-weight: bold;
    position: relative;
}
#ql_woo_cart .widget_shopping_cart_content .total strong {
    font-weight: normal;
}
#ql_woo_cart .widget_shopping_cart_content .buttons {
    text-align: right;
    margin-bottom: 0;
}

#ql_woo_cart .widget_shopping_cart_content a.button {
    .woocommerce_btn;
    .font-size(14);
    margin-left: 10px;
}
#ql_woo_cart .widget_shopping_cart_content a.button.checkout {
    .woocommerce_checkout_btn;
}
#ql_woo_cart .widget_shopping_cart_content a.button:hover {
}
#ql_woo_cart ul.cart_list li .quantity {
    margin-top: 5px;
    float: right;
    .font-size(16);
}
.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
    color: @gray-light2;
}

#ql_woo_cart .woocommerce ul.cart_list li dl,
#ql_woo_cart .woocommerce ul.product_list_widget li dl {
    border-left: 0;
    .font-size(12);
    color: @gray-light;
    margin-top: 3px;
    padding-left: 0;
    float: right;
}
#ql_woo_cart .woocommerce ul.cart_list li dl dd,
#ql_woo_cart .woocommerce ul.cart_list li dl p,
#ql_woo_cart .woocommerce ul.product_list_widget li dl p {
    margin-bottom: 0;
}

@media (max-width: @screen-xs-max) {
    #ql_woo_cart,
    .ql_cart_wrap:hover .ql_cart-btn::before,
    .ql_cart-btn i.ql-chevron-down {
        display: none;
    }
    .ql_cart_wrap:hover .ql_cart-btn i {
        opacity: 1;
    }
    .ql_cart_wrap:hover .ql_cart-btn {
        background-color: transparent;
        .box-shadow(none);
    }
}

/*List Widget
=====================================================*/
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce-page ul.cart_list li a,
.woocommerce-page ul.product_list_widget li a {
    background-color: transparent !important;
    color: inherit !important;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
    .box-shadow(none);
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li {
    font-size: 1.14285714285714em;
}
.widget.woocommerce ul li a:hover {
    text-indent: 0 !important;
}

/*Categories Widget
=====================================================*/
.widget_layered_nav ul li {
    width: 44%;
    display: inline-block;
    margin-right: 5%;
}
.widget_product_categories ul .cat-item {
    border-bottom: none !important;
}
.widget_product_categories > ul > .cat-item {
    width: 43%;
    margin-right: 5%;
    display: inline-block;
}
.widget_product_categories ul .cat-item a,
.widget_layered_nav ul li a {
    position: relative;
    padding-left: 20px !important;
}
.widget_product_categories ul .cat-item a::before,
.widget_layered_nav ul li a::before {
    .font-size(14);
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    color: @gray-light2;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.widget_product_categories ul .cat-item a:hover::before,
.widget_layered_nav ul li a:hover::before {
    content: "";
}

.widget_product_categories ul .cat-item.current-cat a,
.widget_layered_nav ul li.chosen a {
    color: @gray-dark!important;
}
.widget_product_categories ul .cat-item.current-cat a::before,
.widget_product_categories ul li.chosen a::before {
    content: "";
    color: @gray-dark!important;
}

/*Filter Widget
=====================================================*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: @gray-lighter;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    background: #fff;
    border: 3px solid @gray-light2;
    top: -0.2em;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    .font-size(14);
    .woocommerce_btn;
    display: block;
    float: none;
}
.woocommerce .widget_price_filter .price_label {
    color: @gray-light;
    margin-top: 5px;
    display: block;
    text-align: left;
}

/*Search Widget
=====================================================*/
#sidebar .woocommerce-product-search {
    position: relative;
}
#sidebar .woocommerce-product-search::before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    color: @gray-light2;
    font-size: 14px;
    width: 16px;
    height: 16px;
    z-index: 1;
}
.widget_product_search label {
    clear: both;
    width: 100%;
}
.widget_product_search .search-field {
    width: 100%;
    display: inline-block;
    background-color: #f9f9f9;
    padding-right: 30px;
}
.widget_product_search input[type="submit"] {
    width: 38%;
    display: none;
}

/*My Account
=====================================================*/
.woocommerce-account h2 {
    .font-size(28);
}
.woocommerce-account h3 {
    .font-size(24);
}

//First message
.woocommerce .myaccount_user {
    border: 2px solid @gray-lighter;
    padding: 25px;
    margin-bottom: 40px;
}
.woocommerce .myaccount_user a {
    text-decoration: underline;
}

.woocommerce .myaccount_address {
    margin-bottom: 1.875em;
}
.woocommerce-account .address .title {
    margin-bottom: 15px;
}
.woocommerce-account .address address {
    background-color: @gray-lighter2;
    padding: 30px;
    display: inline-block;
}
.woocommerce .addresses .address,
.woocommerce .addresses .col-1,
.woocommerce .addresses .col-2 {
    background-color: @gray-lighter2;
    padding: 1.25em;
}
.woocommerce .addresses .address .title,
.woocommerce .addresses .col-1 .title,
.woocommerce .addresses .col-2 .title {
    margin-bottom: 0.9375em;
    margin-top: 0;
}

.woocommerce-account .edit {
    .btn-ql;
}
.woocommerce table.my_account_orders {
    margin-bottom: 70px;
    > tbody > tr:nth-of-type(odd) {
        background-color: @table-bg-accent;
    }
}

/*Login / Register
=====================================================*/
#customer_login form {
    border: 2px solid @gray-lighter;
    margin-top: 0;
}
#customer_login .login label.inline {
    margin-left: 10px;
    .font-size(14);
    color: @gray-light;
}
#customer_login .login label.inline input {
    height: auto;
    margin: 0;
}

#customer_login .lost_password a {
    .font-size(13);
    color: @gray-light;
}

/*Edit Account
=====================================================*/
.woocommerce-account .woocommerce legend {
    margin-top: 50px;
}

/*View Order
=====================================================*/
.woocommerce-account .woocommerce header {
    margin-top: 50px;
}

.woocommerce ul.order_details {
    padding-left: 0;
    margin-bottom: 50px;
    background-color: @gray-lighter2;
    padding: 1.25em;
}

/*Global
=====================================================*/
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    border-top: none !important;
    text-shadow: none !important;
    color: #fff !important;
    clear: both;
}
.woocommerce-message a,
.woocommerce-error a,
.woocommerce-info a {
    color: #fff !important;
    font-weight: bold;
    .font-size(14);
    text-decoration: underline;
}
.woocommerce-message a:hover,
.woocommerce-error a:hover,
.woocommerce-info a:hover {
    color: darken(#fff, 5%) !important;
}
.woocommerce-info {
    background-color: #3d9cd2 !important;
    border-left: 5px solid darken(#3d9cd2, 5%) !important;
}
.woocommerce-error {
    background-color: red !important;
    border-left: 5px solid darken(red, 5%) !important;
}
.woocommerce-message {
    background-color: #06a67e !important;
    border-left: 5px solid darken(green, 5%) !important;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
    color: #fff;
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
    background-color: transparent !important;
    border: 2px solid #fff !important;
}
.woocommerce-message .button:hover,
.woocommerce-error .button:hover,
.woocommerce-info .button:hover {
    background-color: #fff !important;
    border: 2px solid #fff !important;
    color: @gray!important;
}

.woocommerce_btn {
    border: 2px solid darken(@gray-lighter, 5%);
    padding: 8px 16px;
    border-radius: @border-radius-small;
    background-color: transparent;
    font-weight: bold;
    .font-size(14);
    line-height: 1em;
    color: @gray;
    outline: 0;
    .transition(~"border 200ms, background-color 200ms");

    &:hover {
        background-color: @gray;
        border-color: @gray;
        color: #fff;
    }
    &:active {
        top: 1px;
        position: relative;
    }
}

.woocommerce_checkout_btn {
    border: 2px solid @heroColor2;
    padding: 8px 16px;
    border-radius: @border-radius-small;
    background-color: @heroColor2;
    font-weight: bold;
    color: #fff;
    outline: 0;
    .transition(~"border 200ms, background-color 200ms");

    &:hover {
        background-color: transparent;
        color: @heroColor2;
        text-shadow: none;
    }
    &:active {
        top: 1px;
        position: relative;
    }
}
.woocommerce .button.checkout {
    .woocommerce_checkout_btn;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    width: auto;
    .woocommerce_btn;
}
.woocommerce input[type="submit"] {
    margin-top: 15px;
}

.woocommerce select,
.woocommerce-page select {
    height: 24px !important;
    font-size: 13px !important;
}

.woocommerce input[type="text"],
.woocommerce-page input[type="text"],
.woocommerce input[type="password"],
.woocommerce-page input[type="password"],
.woocommerce-page input[type="email"] {
    background-color: lighten(@gray-lighter2, 1%);
}

.login input[type="submit"],
.login input[type="checkbox"] {
    width: auto;
}
.login .inline input {
    display: inline;
}

//Ratings Stars color
.woocommerce .star-rating {
    color: @heroColor;
}

/*WooCommerce Widgets
=====================================================*/
#sidebar.woocommerce-sidebar .widget ul.product-categories li ul,
#sidebar.woocommerce-sidebar .widget ul.product-categories li ul li ul,
#footer .widget ul.product-categories li ul,
#footer .widget ul.product-categories li ul li ul {
    display: block;
}
.widget_product_categories ul .cat-item a::before,
.widget_layered_nav ul li a::before {
    text-decoration: none !important;
}
#footer .widget_product_categories ul .cat-item.current-cat a,
#footer .widget_layered_nav ul li.chosen a {
    color: #fff !important;
}

.widget .amount {
    .font-size(16);
    color: @heroColor2;
}
.widget .star-rating {
    .font-size(14);
    color: @heroColor;
}

/* Layered Nav
---------------------*/
.widget_layered_nav ul li .count {
    display: none;
}

/* Products
---------------------*/
.widget_products ul li a {
    padding-bottom: 0 !important;
}

/* Recent Reviews
---------------------*/
.widget_recent_reviews .reviewer {
    .font-size(12);
}

/* Top Rated Products
---------------------*/
.widget_top_rated_products .star-rating {
    .font-size(14);
}

/* Product Tags Clouds
---------------------*/
.widget_product_tag_cloud a {
    border: 1px solid @gray-light;
    padding: 4px 8px;
    .font-size(12) !important;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
}
.widget_product_tag_cloud a:hover {
    background-color: @gray-lighter;
    text-decoration: none !important;
}

/* Search
---------------------*/
.widget_product_search input[type="submit"],
.widget_product_search input {
    margin: 0;
}
.widget_product_search input[type="submit"] {
    .woocommerce_btn;
}
.widget_product_search .screen-reader-text {
    display: none;
}

/* WooCommerce Shortcode Featured Products
---------------------*/
.woocommerce.columns-5 ul.products li.product {
    margin-right: 2%;
    width: 18%;
}

/* Search form in header
---------------------*/
.ql-search-btn {
    display: inline-block;
    color: @gray-light;
    outline: 0 !important;
}
#ql_search_header {
    padding-top: 40px;
    width: 100%;
    position: absolute;
    text-align: center;
    .transition(transform 200ms);
    top: -300px;
    z-index: 10;
}
.search_open #ql_search_header {
    .translate(0; 300px);
}
#ql_search_header .woocommerce-product-search {
    width: 40%;
    margin: 0 auto;
}
#ql_search_header .woocommerce-product-search .screen-reader-text {
    display: none;
}
#ql_search_header .woocommerce-product-search .search-field {
    width: 80%;
    display: inline-block;
    margin: 0;
}
#ql_search_header .woocommerce-product-search input[type="submit"] {
    width: 15%;
    display: inline-block;
    background-color: @gray;
    border-color: @gray;
    color: #fff;
    line-height: 16px;
    margin: 0;
}
#ql_search_header .woocommerce-product-search input[type="submit"]:hover {
    background-color: transparent;
    border-color: @gray;
    color: @gray;
}

/* Sharing from Jetpack
---------------------*/
.single-product .summary-bottom div.sharedaddy h3.sd-title::before {
    border: none !important;
    margin: 0 !important;
}
.single-product .summary-bottom div.sharedaddy h3.sd-title {
    display: none !important;
}
