@font-face {
  font-family: 'ocin';
  src: url('../less/font-ocin/fonts/ocin.ttf?smzjf9') format('truetype'), url('../less/font-ocin/fonts/ocin.woff?smzjf9') format('woff'), url('../less/font-ocin/fonts/ocin.svg?smzjf9#ocin') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ocin-icon-"],
[class*=" ocin-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ocin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ocin-icon-bag2-empty:before {
  content: "\e91c";
}
.ocin-icon-bag2:before {
  content: "\e91d";
}
.ocin-icon-envelope:before {
  content: "\e91e";
}
.ocin-icon-link2:before {
  content: "\e91f";
}
.ocin-icon-arrow-left:before {
  content: "\e920";
}
.ocin-icon-arrow-right:before {
  content: "\e921";
}
.ocin-icon-tag:before {
  content: "\e91b";
}
.ocin-icon-eye:before {
  content: "\e919";
}
.ocin-icon-eye-crossed:before {
  content: "\e91a";
}
.ocin-icon-cross2:before {
  content: "\e918";
}
.ocin-icon-folder:before {
  content: "\e90e";
}
.ocin-icon-bubble:before {
  content: "\e90f";
}
.ocin-icon-user:before {
  content: "\e910";
}
.ocin-icon-calendar-31:before {
  content: "\e911";
}
.ocin-icon-volume:before {
  content: "\e912";
}
.ocin-icon-volume-high:before {
  content: "\e913";
}
.ocin-icon-pictures:before {
  content: "\e914";
}
.ocin-icon-plus:before {
  content: "\e915";
}
.ocin-icon-chevron-down:before {
  content: "\e916";
}
.ocin-icon-chevron-up:before {
  content: "\e917";
}
.ocin-icon-home5:before {
  content: "\e909";
}
.ocin-icon-pen2:before {
  content: "\e90a";
}
.ocin-icon-at-sign:before {
  content: "\e90b";
}
.ocin-icon-briefcase:before {
  content: "\e90c";
}
.ocin-icon-text-size:before {
  content: "\e90d";
}
.ocin-icon-clipboard-text:before {
  content: "\e906";
}
.ocin-icon-star-half:before {
  content: "\e907";
}
.ocin-icon-feather2:before {
  content: "\e908";
}
.ocin-icon-chevron-left:before {
  content: "\e904";
}
.ocin-icon-chevron-right:before {
  content: "\e905";
}
.ocin-icon-cart:before {
  content: "\e900";
}
.ocin-icon-cart-empty:before {
  content: "\e901";
}
.ocin-icon-cart-full:before {
  content: "\e902";
}
.ocin-icon-cart-plus:before {
  content: "\e903";
}
